body {
	padding: 60px 0;
}
h1, h2, h3, h4 {
	font-family: "Magra", Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#site-header h1 {
	font-size: 70px;
	line-height: 80px;
}
#site-header h2 {
	font-size: 40px;
	line-height: 48px;
}